@import 'tailwindcss';



@font-face {
  font-family: "Montreal";
  src: url("./assets/fonts/NeueMontreal-Regular.otf");
  font-weight: 300;
}
@font-face {
    font-family: satoshi;
    src: url(./assets/fonts/Satoshi-Variable.ttf);
}
@theme {
  --font-main: "Montreal", Helvetica, sans-serif;

  --color-myBlack: #141414;
  --color-myWhite: #FDFDFD;
  --color-myGreen: #5DEA7C;

  --padding-desktop: 35px;
  --ease-myEase2: cubic-bezier(0.40, 0, 0.24, 1);
}

:root {
  font-family: "Montreal", Arial, Helvetica, sans-serif;

  /* Color variables */
  --myBlack: #000;
  --myWhite: #FDFDFD;
  --myGreen: #5DEA7C;

  /* Typography */ 
  --bodyCopy: 25px;
  --smallText: 14px;
  --title: 45px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "gilroy", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #000000;
}

#button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;

}